/*Navigation Container-->*/

html{
  background-color: rgb(21, 21, 34);
}

#navContainer{
padding: 2px;
height: 100px;
width: 1440px;
}

a {
  text-decoration: none;
  color:rgb(239, 239, 239);
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 4px;
  margin: 1px;
}

a:hover{
  text-decoration: underline;
}

#logo{
  font-size: 30px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  padding: 4px;
  margin: 1px;
}

#sheetHeader{
  color:rgb(239, 239, 239);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

#sheetHeader2{
  color:rgb(239, 239, 239);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}

h1{
  color:rgb(33, 33, 33);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

h2{
  color:rgb(33, 33, 33);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}

#featuredRecipeContainer{
  padding: 2px;
  margin: 2px;
}

#featuredRecipeBackground{
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

#featuredRecipeText{
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  width: 480px;
  height: 170px;
  background-color: rgb(201, 158, 158);
  bottom: 50px;
}

#featuredRecipeDescription{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.8px;
  padding: 1px;
  text-decoration: underline;
  text-decoration-color: rgb(143, 43, 61);
  text-decoration-thickness: 3px;
  position: absolute;
  bottom: 100px;
}

#featuredRecipeName{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  padding: 1px;
}

/*Sheet Pan*/

.sheetPanContainer{
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 1px;
}

.sheetPanCards{
  display:inline-block;
  margin: 34px;
  height: 300px;
  width: 300px;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 10px;
}

.sheetPanCards img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sheetPanContent{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: rgb(239, 239, 239);
}